@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: "Rubik", sans-serif;
}

body,
html {
  font-family: "Rubik", sans-serif;
}

p,
div {
  font-family: "Rubik", sans-serif;
}
